.news-img{
    img{
        width: 100%;
        object-fit: cover;
    }
}

.nm-logo-white{
    padding: 0px;
    
}

.nm-logo-dark{
    float: left;
    clear: right;
    max-width: 90%;
    margin-right: 20px ;
    &:hover{
        cursor: pointer;
    }
}

.img-reset{
	float: left;
    clear: right;
	padding: 0;
    margin-right: 20px ;
    &:hover{
        cursor: pointer;
    }
    }

    .carousel-img{
        padding: 0 35px;
    }
